In [63]:
#let's try to build another model using ratings from the annual Madden NFL video games
#there are a couple advanatges including more comprehensive and empirical data

#import required libraries
import pandas as pd
import numpy as np
import pickle

In [64]:
#extract and clean 2020 data
data2020 = pd.read_csv("madden_nfl_21.csv")
data2020 = data2020.drop("Player", axis = 1)
data2020 = data2020.sort_values("Rating", ascending = False)
data2020 = data2020.drop_duplicates(subset = ["Team", "Position"])
data2020 = data2020[data2020["Position"] != "FB"]
data2020

            Team Position  Rating
10     Cardinals      WR1      99
1128        Rams       RE      99
664      Packers      WR1      99
904       Chiefs       QB      99
917       Chiefs       TE      99
...          ...      ...     ...
1904  Commanders       LG      64
1610    Steelers       RT      64
1046    Chargers       LT      63
1233     Vikings       LG      63
314        Bears       RG      62

[736 rows x 3 columns]

In [65]:
#create dictionary of ratings
dict2020 = {}
for team in data2020["Team"].unique():
        dict2020[team] = pd.Series(dtype = "float64")
for i in range(len(data2020)):
        dict2020[data2020.iloc[i]["Team"]][data2020.iloc[i]["Position"]] = data2020.iloc[i]["Rating"]
dict2020["Cardinals"]

WR1     99
LOLB    94
SS      91
HB      83
QB      82
CB1     82
CB2     81
WR2     80
ROLB    79
WR3     79
LG      78
LT      77
FS      76
MLB     76
DT      75
P       74
K       74
TE      74
RT      73
RE      73
RG      72
LE      70
C       68
dtype: int64

In [66]:
#repeat with 2021 and 2022 data
data2021 = pd.read_csv("madden_nfl_22.csv")
data2021 = data2021[["Team", "Position", "OverallRating"]]
data2021 = data2021.drop_duplicates(subset = ["Team", "Position"])
data2021 = data2021[data2021["Position"] != "FB"]
data2021

         Team Position  OverallRating
0       49ers        C             85
2       49ers      CB1             83
3       49ers      CB2             78
4       49ers       DT             76
10      49ers       FS             81
...       ...      ...            ...
1732  Vikings       SS             90
1734  Vikings       TE             77
1740  Vikings      WR1             90
1741  Vikings      WR2             88
1742  Vikings      WR3             72

[736 rows x 3 columns]

In [67]:
dict2021 = {}
for team in data2021["Team"].unique():
        dict2021[team] = pd.Series(dtype = "float64")
for i in range(len(data2020)):
        dict2021[data2021.iloc[i]["Team"]][data2021.iloc[i]["Position"]] = data2021.iloc[i]["OverallRating"]
dict2021["Cardinals"]

C       90
CB1     81
CB2     76
DT      73
FS      79
HB      83
K       78
LE      90
LG      78
LOLB    79
LT      77
MLB     78
P       76
QB      86
RE      74
RG      66
ROLB    93
RT      73
SS      93
TE      84
WR1     97
WR2     81
WR3     80
dtype: int64

In [68]:
data2022 = pd.read_csv("madden_nfl_23.csv")
data2022.columns

Index(['Team', 'Position', 'Rating'], dtype='object')

In [69]:
dict2022 = {}
for team in data2022["Team"].unique():
        dict2022[team] = pd.Series(dtype = "float64")
for i in range(len(data2020)):
        dict2022[data2022.iloc[i]["Team"]][data2022.iloc[i]["Position"]] = data2022.iloc[i]["Rating"]
dict2022["Cardinals"]

QB      84
HB      81
WR1     96
WR2     84
WR3     80
TE      84
LT      75
LG      79
C       89
RG      72
RT      73
DT      68
LE      87
RE      72
LOLB    78
MLB     78
ROLB    74
FS      79
SS      92
CB1     82
CB2     70
K       78
P       74
dtype: int64

In [70]:
#pickle data

pickle.dump(dict2020, open("2020Dict.p", "wb"))
pickle.dump(dict2021, open("2021Dict.p", "wb"))
pickle.dump(dict2022, open("2022Dict.p", "wb"))